@model LRC_NET_Framework.tb_Assessment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tb_Assessment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AssessmentDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssessmentDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssessmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssessmentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssessedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssessedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_AssessmentName.AssessmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_AssessmentName.AssessmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_MemberMaster.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_MemberMaster.LastName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AssessmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
