@model LRC_NET_Framework.tb_Body

@{
    ViewBag.Title = "Add Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="font-weight-bold" style="background-color: #357ebd; border-bottom-left-radius:10px; border-bottom-right-radius:10px; color:gainsboro; padding-top:5px; padding-bottom:5px; padding-left:30px;"><h4>Create Body</h4></div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.BodyName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BodyName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BodyName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<hr />
<div class="col-md-offset-1 col-md-11">
    @Html.ActionLink("Back to List", "CreateMemberRoles")
</div>
<hr /><hr /><hr />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
