@{
    ViewBag.Title = "Administrator Tasks";
}

<div class="font-weight-bold" style="background-color: #357ebd; border-bottom-left-radius:7px; border-bottom-right-radius:7px; color:gainsboro; padding-top:5px; padding-bottom:5px; padding-left:30px;">
    <h4>
        Confirm Registration
    </h4>
</div>

<div style="font-size:smaller; padding-bottom:5px; border:solid; border-top-left-radius:7px; border-top-right-radius:7px; border-width:1px; border-color:gainsboro">
    <fieldset>

        <div class="row" style="padding-bottom:3px; padding-left:30px; padding-top:10px;">
            <div class="col-md-6 col-md-offset-1" id="Users" style="background-color:lavender; border:solid; border-radius:5px; border-width:1px; border-color:gainsboro">
                <div style="background-color:gainsboro; padding-bottom:5px; padding-left:30px; border-bottom-left-radius:5px; border-bottom-right-radius:5px;">@Html.Label("Users", "Registered Users", htmlAttributes: new { @class = "control-label", style = "font-size:larger;" })</div>
                <table class="table">
                    <tr class="text-info">
                        <th>
                            User Name
                        </th>
                        <th>
                            Role
                        </th>
                    </tr>
                    @foreach (var item in ViewBag.UsersAndRoles as List<SelectListItem>)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Text)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Value)
                            </td>
                            <td>
                                @if (String.IsNullOrEmpty(item.Value))
                                {
                                    @Html.ActionLink("Confirm", "ApplyRegistrationRequest", new { userName = item.Text })
                                    @*<span>&nbsp;|&nbsp;</span>
                                        @Html.ActionLink("Reject", "RejectRegistrationRequest", new { userName = item.Text })*@
                                }
                                else
                                {
                                    @Html.ActionLink("Reject", "RejectRegistrationRequest", new { userName = item.Text })
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>

    </fieldset>
</div>

<div class="font-weight-bold" style="background-color: #357ebd; border-bottom-left-radius:7px; border-bottom-right-radius:7px; color:gainsboro; padding-top:5px; padding-bottom:5px; padding-left:30px;">
    <h4>
        Import Certified Bargaining Unit (CBU) file from the national union
    </h4>
</div>

<div style="font-size:smaller; padding-bottom:3px; padding-left:30px; padding-right:30px; border:solid; border-top-left-radius:7px; border-top-right-radius:7px; border-width:1px; border-color:gainsboro">
    <div style="background-color:lavender; padding:5px; border-bottom-left-radius:5px; border-bottom-right-radius:5px;">
        <ul class="list-inline">
            <li role="button"><a href="@Url.Action("AddWeekDays", "SemesterTaught")" class="btn-sm btn-info viewDialog" , data-dialog-title="Add Days of Week">Days of Week&nbsp;&nbsp;<span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
            <li role="button"><a href="@Url.Action("MemberImportErrors", "Import")" class="btn-sm btn-info">Members Import Errors&nbsp;&nbsp;<span class="glyphicon glyphicon-list" aria-hidden="true"></span></a></li>
            <li role="button"><a href="@Url.Action("ScheduleImportErrors", "Import")" class="btn-sm btn-info">Schedules Import Errors&nbsp;&nbsp;<span class="glyphicon glyphicon-list" aria-hidden="true"></span></a></li>
            <li role="button"><a href="@Url.Action("CollegesMapping", "Import")" class="btn-sm btn-info">Colleges Mapping&nbsp;&nbsp;<span class="glyphicon glyphicon-transfer" aria-hidden="true"></span></a></li>
            <li role="button"><a href="@Url.Action("CampusesMapping", "Import")" class="btn-sm btn-info">Campuses Mapping&nbsp;&nbsp;<span class="glyphicon glyphicon-transfer" aria-hidden="true"></span></a></li>
            <li role="button"><a href="@Url.Action("MembersMapping", "Import")" class="btn-sm btn-info">Member Fields Mapping&nbsp;&nbsp;<span class="glyphicon glyphicon-transfer" aria-hidden="true"></span></a></li>
            <li role="button"><a href="@Url.Action("ScheduleMapping", "Import")" class="btn-sm btn-info">Schedule Fields Mapping&nbsp;&nbsp;<span class="glyphicon glyphicon-transfer" aria-hidden="true"></span></a></li>
        </ul>
    </div>
    @*@using (Ajax.BeginForm("UploadExcel", "Account", FormMethod.Post, new AjaxOptions
        {
            UpdateTargetId = "results",
            LoadingElementId = "loading",
            LoadingElementDuration = 100
        }))*@
    @using (Html.BeginForm("UploadExcel", "Account", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return myFunction()", id = "myform" }))
    {
        <div class="form-horizontal" style="margin-top:10px;">
            <div class="form-group">
                <div class="control-label col-md-2">Download Format:</div>
                <div class="col-md-10">
                    <a href="#" class="btn btn-default">Excel&nbsp;&nbsp;<span class="glyphicon glyphicon-import" aria-hidden="true"></span></a>
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-2">Excel:</div>
                <div class="col-md-10">
                    <input type="file" id="FileUpload" name="FileUpload" class="btn btn-info" />
                </div>
                <div class="col-md-10 col-md-offset-2" style="margin-top:12px;">
                    <table style="border:solid; border-radius:7px; border-width:1px; border-color:gainsboro;">
                        <tr>
                            <td colspan="4" style="background-color:lavender; font-weight:bolder; padding:5px;">Select Import Type:</td>

                        </tr>
                        <tr>
                            <td style="padding:5px;">
                                @Html.RadioButton("ImportType", "1", isChecked: false) @Html.Label("Full-Time", new { style = "font-weight:normal;" })
                            </td>
                            <td style="padding:10px;">
                                @Html.RadioButton("ImportType", "2", isChecked: false) @Html.Label("Adjunct", new { style = "font-weight:normal;" })
                            </td>
                            <td style="padding:10px;">
                                @Html.RadioButton("ImportType", "3", isChecked: false) @Html.Label("REG Schedule", new { style = "font-weight:normal;" })
                            </td>
                            <td style="padding:10px;">
                                @Html.RadioButton("ImportType", "4", isChecked: false) @Html.Label("ADJ Schedule", new { style = "font-weight:normal;" })
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-10 col-md-offset-2" style="margin-top:12px;">
                    @Html.Label("Semester", "Semester", htmlAttributes: new { @class = "control-label" })<span class="text-danger">&nbsp;&nbsp;*</span>
                    @Html.DropDownList("Semesters", (IEnumerable<SelectListItem>)ViewBag.Semesters, "-- Select One --", new { @class = "form-control", style = "width: 300px" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Upload" id="btnSubmit" class="btn btn-primary" />
                    <span id="myLoadingElement" style="display: none;">
                        <img src="~/Images/loading30.gif" alt="Loading..." />
                    </span>
                </div>

            </div>

            <div class="row" style="padding-left:30px;">
                @foreach (var item in ViewData["ErrorList"] as List<string>)
                {
                    if (item != "Empty")
                    {
                        var _errors = item.Split('!');
                        <div class="alert col-md-2" style="text-align:right">
                            <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;&nbsp;&nbsp;@_errors[0] :
                        </div>
                        <div class="alert col-md-9" style="background-color:khaki;"><strong>@_errors[1]</strong></div>
                    }
                }
            </div>
        </div>
    }
</div>


@section Scripts {
<script>
    $("#myform").submit(function (e) {
        $("#myLoadingElement").show();
    });
</script>


    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>

    <script>
        (function () {

            var bar = $('.progress-bar');
            var percent = $('.progress-bar');
            var status = $('#status');

            $('form').ajaxForm({
                beforeSend: function () {
                    status.empty();
                    var percentVal = '0%';
                    bar.width(percentVal)
                    percent.html(percentVal);
                },
                uploadProgress: function (event, position, total, percentComplete) {
                    var percentVal = percentComplete + '%';
                    bar.width(percentVal)
                    percent.html(percentVal);
                },
                success: function () {
                    var percentVal = '100%';
                    bar.width(percentVal)
                    percent.html(percentVal);
                },
                complete: function (xhr) {
                    status.html(xhr.responseText);
                }
            });

        })();
    </script>*@



    <script src='@Url.Content("~/Scripts/jquery-1.12.4.min.js")' type="text/javascript"></script>
        <script src='@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")' type="text/javascript"></script>
        <link href="~/Content/themes/base/all.css" rel="stylesheet" />
        <script>
                $(document).ready(function () {

                    $.ajaxSetup({ cache: false });

                    $(".viewDialog").on("click", function (e) {
                        e.preventDefault();

                        $("<div></div>")
                            .addClass("dialog")
                            .appendTo("body")
                            .dialog({
                                closeText: "",
                                title: $(this).attr("data-dialog-title"),
                                close: function () { $(this).remove() },
                                height: 300,
                                width: 500,
                                modal: true
                            })
                            .load(this.href);
                    });
                });
        </script>

        <script>
                $(document).ready(function () {
                    $('[data-toggle="tooltip"]').tooltip();
                });
        </script>
}