@model LRC_NET_Framework.tb_SemesterTaught

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tb_SemesterTaught</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClassStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassWeekDayID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassWeekDayID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_MemberMaster.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_MemberMaster.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_Semesters.FiscalYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_Semesters.FiscalYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_Class.ClassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_Class.ClassName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_Room.RoomName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_Room.RoomName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SemesterTaughtID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
