@model LRC_NET_Framework.tb_MembersImportMapping

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset>

    <div class="row" style="padding-bottom:10px; padding-top:10px; margin:2px;">
        <div class="col-md-8 col-lg-offset-2" id="ScheduleMapping" style="background-color:lavender; border:solid; border-radius:5px; border-width:1px; border-color:gainsboro">
            <div style="background-color:gainsboro; padding-bottom:5px; padding-top:10px; padding-left:30px; border-bottom-left-radius:5px; border-bottom-right-radius:5px;">@Html.Label("ScheduleMapping", "CBU Column Names Mapping to Schedule Model Fields", htmlAttributes: new { @class = "control-label", style = "font-size:larger;" })</div>
            <table class="table">
                <tr class="text-info">
                    <th width="40%">
                        CBU Column Name
                    </th>
                    <th width="5%">
                    </th>
                    <th width="40%">
                        Corresponding Name
                    </th>
                    <th width="15%">
                        Is in use?
                    <th>
                    </th>
                </tr>
                @foreach (var item in ViewBag.Columns as List<tb_ScheduleImportMapping>)
                {
                <tr>
                    @if (item.IsUsed)
                    {
                        <td style="font-size:smaller;">
                            @Html.DisplayFor(modelItem => item.ColumnNameCBU)
                        </td>
                    }
                    else
                    {
                        <td style="font-size:smaller; color:silver;">
                            @Html.DisplayFor(modelItem => item.ColumnNameCBU)
                        </td>
                    }
                    <td style="font-size:smaller;">
                        <span class="glyphicon glyphicon-circle-arrow-right"></span>
                    </td>
                    @if (item.IsUsed)
                    {
                        <td style="font-size:smaller;">
                            @Html.DisplayFor(modelItem => item.ModelCorrespondingField)
                        </td>
                    }
                    else
                    {
                        <td style="font-size:smaller; color:silver;">
                            @Html.DisplayFor(modelItem => item.ModelCorrespondingField)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.IsUsed)
                    </td>
                </tr>
                }
                @using (Html.BeginForm())
                {
                <tr>
                    <td>
                        <div id="CBU">
                            <span class="text-danger">*&nbsp;</span>
                            <small>@Html.Label("CBU", "Change column name as in CBU", htmlAttributes: new { @class = "control-label" })</small>
                            @Html.EditorFor(model => model.ColumnNameCBU, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.ColumnNameCBU, "", new { @class = "text-danger" })
                        </div>
                    </td>
                    <td style="font-size:smaller;">
                        <br /><br />
                        <span class="glyphicon glyphicon-circle-arrow-right"></span>
                    </td>
                    <td>
                        <div id="Model">
                            <span class="text-danger">*&nbsp;</span>
                            <small>@Html.Label("Model", "Select model field to be mapped", htmlAttributes: new { @class = "control-label" })</small>
                            @Html.DropDownList("ID", ViewBag.ID as SelectList, new { @class = "form-control", style = "width: 250px" })
                        </div>
                    </td>
                    <td>
                        <div style="padding-top:22px;">
                            <input type="submit" value="Change" class="btn btn-primary" />
                        </div>
                    </td>
                </tr>
                }
            </table>
        </div>
    </div>

</fieldset>

