@model LRC_NET_Framework.Models.AddMembershipFormModel

@{
    ViewBag.Title = "Manage Notes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="font-weight-bold" style="background-color: #357ebd; border-bottom-left-radius:7px; border-bottom-right-radius:7px; color:gainsboro; padding-top:5px; padding-bottom:5px; padding-left:30px;"><h4>Manage Membership Forms (@ViewBag.MemberName)</h4></div>

@using (Html.BeginForm("AddMembershipForm", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model._MemberID)
    <div class="col-md-11 col-md-offset-1"><h4>Add Membership Form</h4></div>
    <hr />
    <div class="form-horizontal">
        <fieldset>

            <div class="form-group">
                <div class="col-md-11 col-md-offset-1" id="Signed">
                    @Html.Label("Signed", "Signed", htmlAttributes: new { @class = "control-label" })<span class="text-danger">&nbsp;&nbsp;*</span>
                    @Html.TextBoxFor(model => model._Signed, "{0:yyyy-MM-dd}", new { @class = "form-control datecontrol", type = "date", style = "width: 150px;" })
                    @Html.ValidationMessageFor(model => model._Signed, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-11 col-md-offset-1" id="CollectedBy">
                    @Html.Label("CollectedBy", "Collected By", htmlAttributes: new { @class = "control-label" })<span class="text-danger">&nbsp;&nbsp;*</span>
                    @Html.DropDownList("_CollectedBy", null, htmlAttributes: new { @class = "form-control" })
                    <small><i style="color:gray;">The person who actually took the note. The system is keeping track of the person entering the note (you)</i></small>
                    @Html.ValidationMessageFor(model => model._CollectedBy, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-11 col-md-offset-1" id="FormVersion">
                    @Html.Label("FormVersion", "Form Version", htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model._FormVersion, new { @class = "form-control", @cols = "100", @rows = "5", @style = "width:120px;" })
                    <small><i style="color:gray;">Use if you are tracking different version of a form.</i></small>
                    @Html.ValidationMessageFor(model => model._FormVersion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-11 col-md-offset-1" id="Format">
                    @Html.Label("Format", "Download Format: ", htmlAttributes: new { @class = "control-label" })
                    <p class="btn btn-default">PDF, JPEG&nbsp;&nbsp;<span class="glyphicon glyphicon-import" aria-hidden="true"></span></p>
                </div>
                <div class="col-md-11 col-md-offset-1" id="PDF">
                    @Html.Label("PDF", "Upload Form:", htmlAttributes: new { @class = "control-label" })
                    <input class="btn btn-info" type="file" name="file" id="file" />
                    @Html.ValidationMessageFor(model => model._FormImagePath, "", new { @class = "text-danger" })
                    <span class="text-danger">@ViewBag.Message</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-1 col-md-11">
                    <input type="submit" value="Add Membership Form" class="btn btn-primary" />
                </div>
            </div>

            @using LRC_NET_Framework.Helpers
            @Html.CreateList(ViewData["ErrorList"] as List<string>)

            <div class="col-md-12" id="MembershipForms" style="font-size:smaller; background-color:lavender; border:solid; margin-top:40px; margin-bottom:10px; border-radius:5px; border-width:1px; border-color:gainsboro">
                <div style="background-color:gainsboro; padding-bottom:5px; padding-left:30px; border-bottom-left-radius:5px; border-bottom-right-radius:5px;">@Html.Label("MembershipForms", "Membership Forms", htmlAttributes: new { @class = "control-label", style = "font-size:larger;" })</div>
                <table class="table">
                    <tr class="text-info">
                        <th class="text-left">
                            Signed
                        </th>
                        <th class="text-center">
                            Processed
                        </th>
                        <th class="text-center">
                            Sent&nbsp;To&nbsp;Employer
                        </th>
                        <th class="text-left">
                            Collected&nbsp;By
                        </th>
                        <th class="text-left">
                            Form&nbsp;Image
                        </th>
                        <th class="text-left">
                            Added&nbsp;By
                        </th>
                    </tr>

                    @foreach (var item in Model._MembershipForms as List<tb_MembershipForms>)
            {
                <tr>
                    <td class="text-left">
                        @*@Html.DisplayFor(modelItem => item.Signed, "{0:yyyy-MM-dd}", new { @class = "form-control datecontrol", type = "date", style = "width: 150px;" })*@
                        @Convert.ToDateTime(item.Signed).ToString("MM/dd/yyyy")
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Processed)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.SentToEmployer)
                    </td>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.AspNetUsers1.LastFirstName)
                    </td>
                    <td class="text-left">
                        <p>@Html.ActionLink(item.FormImagePath, "GetPdfOrJpeg", new { fileName = item.FormImagePath, form = "MembershipForms" }, new { target = "_blank" })</p>
                    </td>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.AspNetUsers.LastFirstName)
                    </td>
                </tr>
    }

                </table>
            </div>

        </fieldset>
    </div>
}

    <div>
        @Html.ActionLink("Back to List", "Details", "Home", new { id = Model._MemberID }, new { @class = "text -info" })
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
