@*@model LRC_NET_Framework.tb_MemberMaster*@
@using LRC_NET_Framework.Models;
@model ManageWorkerModels


@{
    ViewBag.Title = "Manage Worker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<ul class="list-inline">
    <li role="button"><a href="@Url.Action("Create", "SemesterTaught", new { @id = Model._Worker.MemberID })" class="btn btn-default">Schedules&nbsp;&nbsp;<span class="glyphicon" aria-hidden="true"></span></a></li>
    <li role="button"><a href="@Url.Action("AddAssessment", "Assessment", new { @id = Model._Worker.MemberID })" class="btn btn-default">Assessments&nbsp;&nbsp;<span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
    <li role="button"><a href="@Url.Action("AddActivity", "Activities", new { @id = Model._Worker.MemberID })" class="btn btn-default">Activities&nbsp;&nbsp;<span class="glyphicon" aria-hidden="true"></span></a></li>
    <li role="button"><a href="#ContactInfo" class="btn btn-default">Contact Info&nbsp;&nbsp;<span class="glyphicon" aria-hidden="true"></span></a></li>
    <li role="button"><a href="#" class="btn btn-default">Member Forms&nbsp;&nbsp;<span class="glyphicon" aria-hidden="true"></span></a></li>
    <li role="button"><a href="#" class="btn btn-default">COPE Forms&nbsp;&nbsp;<span class="glyphicon" aria-hidden="true"></span></a></li>
    <li role="button"><a href="#Notes" class="btn btn-default">Notes&nbsp;&nbsp;<span class="glyphicon" aria-hidden="true"></span></a></li>
    <li role="button"><a href="#Roles" class="btn btn-default">Roles&nbsp;&nbsp;<span class="glyphicon" aria-hidden="true"></span></a></li>
    <li role="button"><a href="#" class="btn btn-default">Also Works At&nbsp;&nbsp;<span class="glyphicon" aria-hidden="true"></span></a></li>
</ul>

<h2 style="font-family:sans-serif">@Html.DisplayFor(n => n._Worker.LastName), @Html.DisplayFor(n => n._Worker.FirstName)</h2>
<div class="row ex1 h6">
    <div class="col-md-3">
        <div class="row" style="padding-bottom:5px">
            <div class="col-md-5" style="font-weight:bold; text-align:right">
                Home School
            </div>
            <div class="col-md-7 text-muted">
                @Html.DisplayFor(n => n._Worker.tb_Department.tb_College.CollegeDesc)
            </div>
        </div>
        <div class="row" style="padding-bottom:5px">
            <div class="col-md-5" style="font-weight:bold; text-align:right">
                Employee ID
            </div>
            <div class="col-md-7 text-muted">
                @Html.DisplayFor(n => n._Worker.MemberIDNumber)
            </div>
        </div>
        <div class="row" style="padding-bottom:5px">
            <div class="col-md-5" style="font-weight:bold; text-align:right">
                JobClass
            </div>
            <div class="col-md-7 text-danger">
                LZ:keep it freeform
            </div>
        </div>
        <div class="row" style="padding-bottom:5px">
            <div class="col-md-5" style="font-weight:bold; text-align:right">
                Department
            </div>
            <div class="col-md-7 text-muted">
                @Html.DisplayFor(n => n._Worker.tb_Department.DepartmentName)
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row" style="padding-bottom:5px">
            <div class="col-md-5" style="font-weight:bold; text-align:right">
                Category
            </div>
            <div class="col-md-7 text-muted">
                @Html.DisplayFor(n => n._Worker.tb_Categories.CategoryName)
            </div>
        </div>
        <div class="row" style="padding-bottom:5px">
            <div class="col-md-5" style="font-weight:bold; text-align:right">
                Hire Date (Aprox)
            </div>
            <div class="col-md-7 text-muted">
                @if (Model._Worker.HireDate != null)
                {
                    @Convert.ToDateTime(Model._Worker.HireDate).ToString("MM/dd/yyyy")
                }
            </div>
        </div>
        <div class="row" style="padding-bottom:5px">
            <div class="col-md-5" style="font-weight:bold; text-align:right">
                Active
            </div>
            <div class="col-md-7 text-muted">
                @if (Model._Worker.tb_SemesterTaught.Where(t => t.MemberID == Model._Worker.MemberID).Count() > 0)
                {
                    <span>Active</span>
                }
                else
                {
                    <span>Inactive</span>
                }
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row" style="padding-bottom:5px">
            <div class="col-md-7" style="font-weight:bold; text-align:right">
                Member Status
            </div>
            <div class="col-md-5 text-muted">
                @Html.DisplayFor(n => n._Worker.tb_MemberActivity.Where(t => t.MemberID == Model._Worker.MemberID).LastOrDefault().tb_ActivityStatus.ActivityStatusName)
            </div>
        </div>
        <div class="row" style="padding-bottom:5px">
            <div class="col-md-7" style="font-weight:bold; text-align:right">
                Fee Payer Assess
            </div>
            <div class="col-md-5 text-muted">
                @if (Model._Worker.LatestUnionAssessmentID != null)
                {
                    @Html.DisplayFor(n => n._Worker.tb_LatestUnionAssessment.LatestUnionAssessmentDesc)
                }
                else
                {
                    <span>0</span>
                }
            </div>
        </div>
        <div class="row" style="padding-bottom:5px">
            <div class="col-md-7" style="font-weight:bold; text-align:right">
                Membership&nbsp;Commitment
            </div>
            <div class="col-md-5 text-muted">
                @Html.DisplayFor(n => n._Worker.tb_MemberActivity.Where(t => t.MemberID == Model._Worker.MemberID).LastOrDefault().MembershipCommitment)
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row" style="padding-bottom:5px">
            <div class="col-md-5" style="font-weight:bold; text-align:right">
                Phone
            </div>
            <div class="col-md-7 text-muted">
                @Html.DisplayFor(n => n._Worker.tb_MemberPhoneNumbers.Where(t => t.IsPrimary == true).FirstOrDefault().PhoneNumber)
            </div>
        </div>
        <div class="row" style="padding-bottom:5px">
            <div class="col-md-5" style="font-weight:bold; text-align:right">
                Address
            </div>
            <div class="col-md-7 text-muted">
                @ViewBag.MemberAddress
            </div>
        </div>
    </div>
</div>
<a href="@Url.Action("Edit", "Home", new { id = Model._Worker.MemberID })" class="btn btn-link">&nbsp;&nbsp;Edit<span class="glyphicon glyphicon-edit pull-left" aria-hidden="true"></span></a>

<p><a name="Schedules"></a></p>
<h3 style="font-family:sans-serif">Schedule (Active)</h3>
<table class="table h6">
    <tr>
        <th>School</th>
        <th></th>
        <th>Campus</th>
        <th>Building</th>
        <th>Room</th>
        <th>Reason</th>
        <th>Class</th>
        <th>Days</th>
        <th>Start</th>
        <th>End</th>
        <th>Note</th>
        <th>Schedule Status</th>
    </tr>
    @foreach (var item in Model._Worker.tb_SemesterTaught)
    {
        <tr class="text-muted">
            <td>
                @Html.DisplayFor(modelItem => item.tb_Building.tb_Campus.tb_College.CollegeDesc)
            </td>
            <td>
                <a href="#" class="btn btn-xs"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tb_Building.tb_Campus.CampusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tb_Building.BuildingName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room)
            </td>
            <td class="danger">
                ???
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tb_WeekDay.WeekDayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassEnd)
            </td>
            <td class="danger">
                ???
            </td>
            <td>
                @if (item != null)
                {
                    <span>Active</span>
                }
                else
                {
                    <span>Inactive</span>
                }
            </td>
        </tr>
    }
</table>

<p><a name="Activities"></a></p>
<h3 style="font-family:sans-serif">Activities</h3>
<table class="table h6">
    <tr>
        <th>
            Activity
        </th>
        <th>
            Date
        </th>
        <th>
            Role
        </th>
        <th>
            Note
        </th>
    </tr>

    @foreach (var item in Model._Worker.tb_MemberActivity.Where(t => t.MemberID == Model._Worker.MemberID))
    {
        if (item != null)
        {
            <tr class="text-muted">
                <td>
                    @Html.DisplayFor(modelItem => item.tb_Activity.ActivityName)
                </td>
                <td>
                    @Convert.ToDateTime(item.tb_Activity.ActivityDate).ToString("MM/dd/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tb_MemberMaster.tb_MemberRoles.Where(t => t.MemberID == Model._Worker.MemberID).LastOrDefault().tb_Roles.RoleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tb_Activity.ActivityNote)
                </td>
            </tr>
        }
        else
        {
            <tr class="text-muted">
                <td><span>No activities</span></td>
            </tr>
        }
    }
</table>

<p><a name="Roles"></a></p>
<h3 style="font-family:sans-serif">Roles (Current)</h3>
<table class="table h6">
    <tr>
        <th>
            Role
        </th>
        <th>
            Body
        </th>
        <th>
            Start
        </th>
        <th>
            End
        </th>
    </tr>

    @foreach (var item in Model._Worker.tb_MemberRoles.Where(t => t.MemberID == Model._Worker.MemberID))
    {
        if (item != null)
        {
            <tr class="text-muted">
                <td>
                    @Html.DisplayFor(modelItem => item.tb_Roles.RoleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tb_Body.BodyName)
                </td>
                <td>
                    @if (item.StartDate != null)
                    {
                        @Convert.ToDateTime(item.StartDate).ToString("MM/dd/yyyy")
                    }
                </td>
                <td>
                    @if (item.EndDate != null)
                    {
                        @Convert.ToDateTime(item.EndDate).ToString("MM/dd/yyyy")
                    }
                </td>
            </tr>
        }
        else
        {
            <tr class="text-muted">
                <td><span>No activities</span></td>
            </tr>
        }
    }

</table>

<h3 style="font-family:sans-serif">Assessments</h3>
<table class="table h6">
    <tr>
        <th>

        </th>
        <th>
            Date
        </th>
        <th>
            Assessed By
        </th>
        <th>
            Note
        </th>
    </tr>

    @foreach (var item in Model._AssessmentName)
    {
        <tr>
            <td colspan="4" style="background-color:lightgray">
                @Html.DisplayFor(modelItem => item.AssessmentName)
            </td>
        </tr>
        foreach (var assess in item.tb_Assessment.Where(t => t.MemberID == Model._Worker.MemberID))
        {
            if (item != null)
            {
                <tr class="text-muted">
                    <td>
                        @Html.DisplayFor(n => n._Worker.CampaignVolunteer)
                    </td>
                    <td>
                        @if (assess.AssessmentDate != null)
                        {
                            @Convert.ToDateTime(assess.AssessmentDate).ToString("MM/dd/yyyy")
                        }
                    </td>
                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => assess.AssessmentDesc)
                    </td>
                </tr>
            }
            else
            {
                <tr class="text-muted">
                    <td><span>No activities</span></td>
                </tr>
            }
        }
    }

</table>

<p><a name="Notes"></a></p>
<h3 style="font-family:sans-serif">Notes</h3>
<table class="table h6">
    <tr>
        <th>
            Note
        </th>
        <th>
            Date
        </th>
        <th>
            Taken By
        </th>
    </tr>

    @foreach (var item in Model._Worker.tb_MemberNotes.Where(t => t.MemberID == Model._Worker.MemberID))
    {
        if (item != null)
        {
            <tr class="text-muted">
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @if (item.NoteDate != null)
                    {
                        @Convert.ToDateTime(item.NoteDate).ToString("MM/dd/yyyy")
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TakenBy)
                </td>
            </tr>
        }
        else
        {
            <tr class="text-muted">
                <td><span>No data</span></td>
            </tr>
        }
    }

</table>

<p><a name="ContactInfo"></a></p>
<h3 style="font-family:sans-serif">Phones</h3>
<table class="table h6">
    <tr>
        <th>
            Phone Number
        </th>
        <th>
            Status
        </th>
        <th>
            Type
        </th>
        <th>
            Added
        </th>
    </tr>

    @foreach (var item in Model._Worker.tb_MemberPhoneNumbers.Where(t => t.MemberID == Model._Worker.MemberID))
    {
        if (item != null)
        {
            <tr class="text-muted">
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @if (item.IsPrimary)
                    {
                        <span>Primary</span>
                    }
                    else
                    {
                        <span>Secondary</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneType)
                </td>
                <td>
                    @if (item.CreatedDateTime != null)
                    {
                        @Convert.ToDateTime(item.CreatedDateTime).ToString("MM/dd/yyyy")
                    }
                </td>
            </tr>
        }
        else
        {
            <tr class="text-muted">
                <td><span>No data</span></td>
            </tr>
        }
    }

</table>

<h3 style="font-family:sans-serif">Emails</h3>
<table class="table h6">
    <tr>
        <th>
            Email Address
        </th>
        <th>
            Type
        </th>
        <th>
            Status
        </th>
        <th>
            Added
        </th>

    </tr>

    @foreach (var item in Model._Worker.tb_MemberEmail.Where(t => t.MemberID == Model._Worker.MemberID))
    {
        if (item != null)
        {
            <tr class="text-muted">
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td class="danger">
                    ???
                </td>
                <td>
                    @if (item.IsPrimary)
                    {
                        <span>Primary</span>
                    }
                    else
                    {
                        <span>Secondary</span>
                    }
                </td>
                <td>
                    @if (item.CreatedDateTime != null)
                    {
                        @Convert.ToDateTime(item.CreatedDateTime).ToString("MM/dd/yyyy")
                    }
                </td>

            </tr>
        }
        else
        {
            <tr class="text-muted">
                <td><span>No data</span></td>
            </tr>
        }
    }

</table>

<h3 style="font-family:sans-serif">Addresses</h3>
<table class="table h6">
    <tr>
        <th>
            Address
        </th>
        <th>
            Status
        </th>
        <th>
            Added
        </th>
        <th>
            Source
        </th>

    </tr>

    @foreach (var item in Model._Worker.tb_MemberAddress.Where(t => t.MemberID == Model._Worker.MemberID))
    {
        if (item != null)
        {
            <tr class="text-muted">
                <td>
                    @ViewBag.MemberAddress
                </td>
                <td>
                    @if (item.IsPrimary)
                    {
                        <span>Primary</span>
                    }
                    else
                    {
                        <span>Secondary</span>
                    }
                </td>
                <td>
                    @if (item.CreatedDateTime != null)
                    {
                        @Convert.ToDateTime(item.CreatedDateTime).ToString("MM/dd/yyyy")
                    }
                </td>
                <td class="danger">
                    ??? Employeer
                </td>

            </tr>
        }
        else
        {
            <tr class="text-muted">
                <td><span>No data</span></td>
            </tr>
        }
    }

</table>


