@model LRC_NET_Framework.tb_MemberActivity

@{
    ViewBag.Title = "Add Activity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="font-weight-bold" style="background-color: #357ebd; border-bottom-left-radius:7px; border-bottom-right-radius:7px; color:gainsboro; padding-top:5px; padding-bottom:5px; padding-left:30px;"><h4>Manage Member Activities</h4></div>

@using LRC_NET_Framework.Helpers
@Html.CreateList(ViewData["ErrorList"] as List<string>)

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.MemberID)
    <div class="col-md-11 col-md-offset-1"><h4>Add Activity</h4></div>
    <div class="form-horizontal" style="font-size:smaller;">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-11 col-md-offset-1" id="ActID">
                @Html.Label("ActID", "Activity", htmlAttributes: new { @class = "control-label" })<span class="text-danger">&nbsp;&nbsp;*</span>
                <div style="overflow:hidden;">
                    <div style="width: 100%;">
                        <div style="float: left;">
                            @Html.DropDownList("ActivityID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ActivityID, "", new { @class = "text-danger" })
                        </div>
                        <div style="float: left; margin-left:10px">
                            <button type="button" class="btn btn-secondary">
                                <a href="@Url.Action("NotSure", "Activities")" class="glyphicon glyphicon-plus viewDialog" , data-dialog-title="Question"></a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-11 col-md-offset-1" id="ActivityDate">
                @Html.Label("ActivityDate", "Activity Date", htmlAttributes: new { @class = "control-label" })<span class="text-danger">&nbsp;&nbsp;*</span>
                @Html.TextBoxFor(model => model.tb_Activity.ActivityDate, "{0:yyyy-MM-dd}", new { @class = "form-control datecontrol", type = "date", style = "width: 150px;" })
                @Html.ValidationMessageFor(model => model.tb_Activity.ActivityDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-11 col-md-offset-1" id="ActivityStatus">
                @Html.Label("ActivityStatus", "Activity Status", htmlAttributes: new { @class = "control-label" })<span class="text-danger">&nbsp;&nbsp;*</span>
                @foreach (var myValue in ViewBag.ActivityStatusID as List<tb_ActivityStatus>)
                {
                    <div class="checkbox">
                        @if (myValue.ActivityStatusID == 1)
                        {
                            @Html.RadioButton("ActivityStatusID", myValue.ActivityStatusID, true, new { id = myValue.ActivityStatusName })
                        }
                        else
                        {
                            @Html.RadioButton("ActivityStatusID", myValue.ActivityStatusID, false, new { id = myValue.ActivityStatusName })
                        }
                        @Html.Label(myValue.ActivityStatusName, myValue.ActivityStatusName)
                    </div>
                }
                @Html.ValidationMessageFor(model => model.ActivityStatusID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-11 col-md-offset-1" id="ActivityNote">
                @Html.Label("ActivityNote", "Activity Note", htmlAttributes: new { @class = "control-label" })
                @Html.TextAreaFor(model => model.tb_Activity.ActivityNote, new { @class = "form-control", @cols = "100", @rows = "5", @style = "width:100%;" })
                @Html.ValidationMessageFor(model => model.tb_Activity.ActivityNote, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div class="row" style="padding-top:20px; font-size:smaller;">
    <div class="col-md-8 col-md-offset-1" id="Activities" style="background-color:lavender; border:solid; margin-top:20px; border-radius:5px; border-width:1px; border-color:gainsboro">

        <div style="background-color:gainsboro; padding-bottom:5px; padding-left:30px; border-bottom-left-radius:5px; border-bottom-right-radius:5px;">@Html.Label("Activities", "Activities", htmlAttributes: new { @class = "control-label", style = "font-size:larger;" })</div>

        <table class="table">
            <tr class="text-info">
                <th>
                    Activity
                </th>
                <th>
                    Date
                </th>
                <th>
                    Status
                </th>
                <th>
                    Note
                </th>
            </tr>
            @foreach (var item in ViewBag.Activities as List<tb_MemberActivity>)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.tb_Activity.ActivityName)
                    </td>
                    <td>
                        @Convert.ToDateTime(item.tb_Activity.ActivityDate).ToString("MM/dd/yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tb_ActivityStatus.ActivityStatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tb_Activity.ActivityNote)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="col-md-11 col-md-offset-1" style="margin-top:20px;">
    <a href="@Url.Action("Details", "Home", new { id = Model.MemberID })" class="btn btn-info">&nbsp;&nbsp;Back<span class="glyphicon glyphicon-arrow-left pull-left" aria-hidden="true"></span></a>
</div>
<hr />
@section Scripts {
    <script src='@Url.Content("~/Scripts/jquery-1.12.4.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")' type="text/javascript"></script>


    <script>
        $(document).ready(function () {

            $.ajaxSetup({ cache: false });

            $(".viewDialog").on("click", function (e) {
                e.preventDefault();

                $("<div></div>")
                    .addClass("dialog")
                    .appendTo("body")
                    .dialog({
                        closeText: "",
                        title: $(this).attr("data-dialog-title"),
                        close: function () { $(this).remove() },
                        height: 300,
                        width: 500,
                        modal: true
                    })
                    .load(this.href);
            });
        });
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}

