@model LRC_NET_Framework.tb_MemberMaster

@{
    ViewBag.Title = "Edit Worker Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div style="background-color: #d9dadd; padding-top:10px; padding-bottom:5px; padding-left: 30px;"><h4>Edit Worker Details</h4></div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3 style="padding-left: 70px;">
            @Html.DisplayFor(model => model.LastName), @Html.DisplayFor(model => model.FirstName)
        </h3>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MemberID)

        <div class="form-group">
            <div class="col-md-2">
                <p class="control-label">Home School</p>
            </div>
            <div class="col-md-10">
                @Html.DropDownList("CollegeID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.tb_Department.CollegeID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <p class="control-label text-danger">Local ID ???</p>
            </div>
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <p class="control-label">First Name</p>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <p class="control-label">Middle Name</p>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <p class="control-label">Department</p>
            </div>
            <div class="col-md-10">
                @Html.DropDownList("DepartmentID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DepartmentID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <p class="control-label">Area</p>
            </div>
            <div class="col-md-10">
                @Html.DropDownList("AreaID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AreaID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <p class="control-label">Cope Status</p>
            </div>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.CopeStatus)
                    @Html.ValidationMessageFor(model => model.CopeStatus, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <p class="control-label">Cope Amount</p>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CopeAmount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CopeAmount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <p class="control-label">Counselor</p>
            </div>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Counselors)
                    @Html.ValidationMessageFor(model => model.Counselors, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <p class="control-label">Campaign Volunteer</p>
            </div>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.CampaignVolunteer)
                    @Html.ValidationMessageFor(model => model.CampaignVolunteer, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <p class="control-label text-danger">Latest Union Assessment</p>
            </div>
            <div class="col-md-10">
                @Html.DropDownList("LatestUnionAssessment", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LatestUnionAssessment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <p class="control-label text-danger">Mail Code ID</p>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MailCodeID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MailCodeID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <p class="control-label">Dues Category Eff Date</p>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DuesCategoryEffDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DuesCategoryEffDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <p class="control-label">Union Initiation Date</p>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.UnionInitiationDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UnionInitiationDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <p class="control-label">Hire Date</p>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.HireDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HireDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <p class="control-label">Date Of Birth</p>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <p class="control-label">Gender</p>
            </div>
            <div class="col-md-10">
                @Html.DropDownList("GenderID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GenderID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <p class="control-label">Retired Eff Date</p>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.RetiredEffDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RetiredEffDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <p class="control-label">Deactivate Eff Date</p>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeactivateEffDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DeactivateEffDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <p class="control-label text-danger">Deactivate Reason</p>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeactivateReasonID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DeactivateReasonID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <p class="control-label text-danger">Leadership Position</p>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.LeadershipPositionID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LeadershipPositionID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <p class="control-label text-danger">Political Assessment</p>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PoliticalAssessmentID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PoliticalAssessmentID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <p class="control-label">Particioate Political</p>
            </div>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ParticipatePolitical)
                    @Html.ValidationMessageFor(model => model.ParticipatePolitical, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <p class="control-label text-danger">Political Activities</p>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PoliticalActivitiesID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PoliticalActivitiesID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <p class="control-label text-warning">Member Address</p>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MemberAddressID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MemberAddressID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <p class="control-label text-danger">Phone Rec</p>
            </div>
            <div class="col-md-10">
                @Html.DropDownList("PhoneRecID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PhoneRecID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <p class="control-label text">Dues</p>
            </div>
            <div class="col-md-10">
                @Html.DropDownList("DuesID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DuesID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <p class="control-label text-warning">Added By</p>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.AddedBy, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AddedBy, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <p class="control-label text-warning">Added Date</p>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.AddedDateTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AddedDateTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <p class="control-label text-warning">Modified By</p>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModifiedBy, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ModifiedBy, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <p class="control-label text-warning">Modified Date</p>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModifiedDateTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ModifiedDateTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-danger" />
            </div>
        </div>
    </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
