@model LRC_NET_Framework.tb_Building

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="padding:10px 0 10px 0; margin:2px;">
    <div class="col-md-6 col-md-offset-3" id="BuildingDelete" style="background-color:lavender; border:solid; border-radius:5px; border-width:1px; border-color:gainsboro">
        <div style="background-color:lightsteelblue; padding-bottom:5px; padding-top:10px; padding-left:30px; border-bottom-left-radius:5px; border-bottom-right-radius:5px;">
            @Html.Label("BuildingDelete", "Are you sure you want to delete this?", htmlAttributes: new { @class = "control-label", style = "font-size:larger;" })
        </div>
        @using LRC_NET_Framework.Helpers
        @Html.CreateList(ViewData["ErrorList"] as List<string>)
        <div style="padding:0 0 10px 0;">
            <dl class="dl-horizontal">
                <dt>
                    Building Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BuildingName)
                </dd>


                <dt>
                    College Code
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tb_Campus.CollegeCode)
                </dd>
                <dt>
                    College Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tb_Campus.CampusName)
                </dd>
                <dt>
                    Image
                </dt>

                <dd>
                    @if (Model.ImagePath != null  && Model.ImagePath != "")
                    {
                        <img src="@Url.Action("GetPdfOrJpeg", "Home", new { fileName = Model.ImagePath, form = "Building" })" width="400" />
                    }
                    else
                    {
                        <span>Image is not presented</span>
                    }
                </dd>
            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
</div>
