@model LRC_NET_Framework.tb_MemberNotes

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tb_MemberNotes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoteDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoteDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TakenBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TakenBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_NoteType.NoteType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_NoteType.NoteType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_MemberMaster.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_MemberMaster.LastName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MemberNotesID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
