@model LRC_NET_Framework.tb_MemberMaster

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tb_MemberMaster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MemberIDNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberIDNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CopeStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CopeStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CopeAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CopeAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Counselors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Counselors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CampaignVolunteer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CampaignVolunteer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailCodeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailCodeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DuesCategoryEffDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DuesCategoryEffDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnionInitiationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnionInitiationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RetiredEffDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RetiredEffDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeactivateEffDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeactivateEffDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeactivateReasonID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeactivateReasonID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeadershipPositionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeadershipPositionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoliticalAssessmentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoliticalAssessmentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParticipatePolitical)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParticipatePolitical)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoliticalActivitiesID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoliticalActivitiesID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemberAddressID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberAddressID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneRecID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneRecID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_Area.AreaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_Area.AreaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_Department.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_Department.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_Division.DivisionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_Division.DivisionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_Dues.DuesName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_Dues.DuesName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_Gender.GenderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_Gender.GenderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_LatestUnionAssessment.LatestUnionAssessmentDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_LatestUnionAssessment.LatestUnionAssessmentDesc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MemberID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
